* {
    box-sizing: border-box;
}

div #test {
    border: #5AB029 3px solid;
    padding: 10px 40px 40px 40px;
    background-color: #E5FCE3;
    width: 50%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

.quiz-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}


.question {
    display: block;
    font-size: 30px;
    height: 80%;
}

.answers {
    display: block;
    margin-bottom: 10px;
    width: 50%;
    height: 30%;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

/* Button stylings */

#start {
    font-size: 25px;
    font-weight: bold;
    color: #008000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10%;
}

#previous {
    font-size: 25px;
    font-weight: bold;
    color: #008000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10%;
}

#next {    
    font-size: 25px;
    font-weight: bold;
    color: #008000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10%;
}

#submit {
    font-size: 25px;
    font-weight: bold;
    color: #008000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10%;
}